# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
.DS_Store?

# Vim
*.swp
*~

# Visual Studio Code
.vscode/

# Misc
config.json
notes.txt